* {
    margin:0; padding:0;
  }
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }
  header .headline{
    font-size: 32px;
  }

  .nav-list {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
 .active-area{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
 }

 .area-img{
  width: 100px;
  height: 150px;
 }